oneils_dataset.xls filter=lfs diff=lfs merge=lfs -text
jaaks_original_screen_all_tissues_fitted_data.csv filter=lfs diff=lfs merge=lfs -text
DrugTargetInteractionDB.db filter=lfs diff=lfs merge=lfs -text
